@{
    ViewData["Title"] = "Home Page";
}

@*<div class="nav">
    <div class="link">
        <div class="about-link section-btn" id="about-me"> About me</div>
    </div>

    <div class="link">
        <div class="projects-link section-btn" id="projects">Projects</div>
    </div>
</div>*@

<div class="container-grid">
    <div class="container"> 
        <div class="section-header">
            @*<div class="square-container">
                <div class="square" id="square"></div>
            </div>*@
            <div class="section-heading">
                <div>
                    <h1 class="section-heading" id="section-title">About me</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="about-me-section section active" id="about-me-wrapper">
          <div class="about-me-contents">
            <div class="image-wrapper">
              <div class="image-container">
                <img src="./images/about-me.jpg" />
              </div>

              <div class="about-me-socials">
                <div class="social">
                  <a
                    href="https://www.instagram.com/ajss93/"
                    class="social-icon"
                    target="_blank"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
                <div class="social">
                  <a
                    href="https://www.linkedin.com/in/alejandro-serrano-6531a415a/"
                    class="social-icon"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </div>
                <div class="social">
                  <a
                    href="https://github.com/ajserrano9310/"
                    class="social-icon"
                    target="_blank"
                  >
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="personal-description">
              <div>
                <h2 class="section-heading">Bio</h2>
              </div>
              <div class="description">
                <div class="desc-right-border">
                  <div class="padding-right">
                    <p>
                    Hey there! I'm Alejandro Serrano, a Computer Science graduate from the University of Utah, 
                    and I'm thrilled to break into the Software Development industry.
                    </p>
                    <p>
                    Originally hailing from Ecuador, I made the exciting decision to move to Salt Lake City to 
                    pursue my passion for Computer Science and Game Development. 
                    It all started with my love for video games, but as I dived deeper into my major, 
                    I discovered a whole new world of Web Development that truly captivated me.
                    </p>
                    <p>
                    I'm eager to showcase my skills and creativity through my portfolio website. 
                    Join me on this journey as I bring together my professional expertise and a touch of casual enthusiasm. 
                    Let's connect and explore the incredible possibilities of the digital realm!
                    </p>
                
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="my-skills-section">
            <div>
              <h2 class="section-heading">Skills</h2>
            </div>

            <div class="my-skills-wrapper">
              <div class="skills-description">
                <p>
                  These are some of the programming languages and technologies I
                  am most comfortable with.
                </p>
                <p>
                  Currently, I'm improving my JavaScript skills and also
                  learning the React framework by going through
                  <a>The Odin Project</a> bootcamp.
                </p>
              </div>
              <div class="programming-languages-wrapper">
                <h4 class="section-heading">Programming Languages</h4>
                <ul>
                <li>C#</li>
                <li>JavaScript</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                    </ul>
          
               
              </div>

              <div class="tech-wrapper">
                <h4 class="section-heading">Techonologies & Frameworks</h4>

                <ul>
                    <li>React</li>
                    <li>Git/GitHub</li>
                    <li>MySQL</li>
                    <li>AWS</li>
                </ul>

              
             
                <!-- just checking changes -->
              
              </div>
            </div>
          </div>
        </div>

</div>