<h1 class="section-heading">
    Projects
</h1>

<link rel="stylesheet" href="~/css/project-section.css" asp-append-version="true" />

<div class="container-grid">

    <div class="container">
        <div class="projects-section section active" id="projects-wrapper">

            <div class="personal-projects">
                <h2 class="section-heading">Personal Projects</h2>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/tiny-weather-app.jpg" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://github.com/ajserrano9310/Weather-App"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    Tiny Weather app
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    A small weather application that uses Open Weather API to
                                    fetch weather from different cities. The most interesting
                                    aspect of the application was making use of JavaScript to
                                    fetch information from the Open Weather API, and learning
                                    about JavaScript promises.
                                </p>
                                <div class="technologies">
                                    <div class="tech">JavaScript</div>
                                    <div class="tech">HTML</div>
                                    <div class="tech">CSS</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div class="padding-between-projects"></div>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    Draw!
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    An app built to practice figure drawing. The application
                                    cycles through timed images. The main objective of the
                                    project was to build something that would help me with my
                                    own process of learning how to draw.
                                </p>
                                <p class="description">
                                    Making this application allowed me to work closely with
                                    images. Fitting them properly within the boundaries of the
                                    frame utilized for practice. Similarly, I hosted some of
                                    the images using MongoDB.
                                </p>
                                <div class="technologies">
                                    <div class="tech">JavaScript</div>
                                    <div class="tech">Node.js</div>
                                    <div class="tech">HTML</div>
                                    <div class="tech">CSS</div>
                                    <div class="tech">MongoDB</div>
                                </div>
                            </div>
                        </div>

                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/draw.png" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://github.com/ajserrano9310/FigureDrawingApp"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-between-projects"></div>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/portfolio.png" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="#"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    Portfolio
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    This website displays my professional information and the
                                    coolest projects I've been involved in. My projects are
                                    from school and personal endevours.
                                </p>
                                <p class="description">
                                    This personal project has been my most involved project,
                                    because it required a better undestanding of CSS, HTML and
                                    JavaScript. In addition, it was also very important to me
                                    to create an interesting design from scratch. Since most
                                    of the functionality is through CSS it required me to
                                    learn about animations and transitions. Another
                                    interesting part of the project was implementing an email
                                    service for contact with nodemailer.
                                </p>
                                <div class="technologies">
                                    <div class="tech">JavaScript</div>
                                    <div class="tech">Node.js</div>
                                    <div class="tech">HTML</div>
                                    <div class="tech">CSS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-between-projects"></div>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    LifeStyleApp
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    Probably one of the most interesting projects I've done
                                    during my major. Unlike many other courses, the main
                                    objective of my Mobile App Development course focused on
                                    getting practice with building applications.
                                </p>
                                <p class="description">
                                    One of the best aspects of the app was going deeper into
                                    building scalable software in addition of learning new
                                    technologies like Android Studio. Similarly, we also
                                    digged deep into software design patterns (i.e., Factory
                                    and singleton pattern).
                                </p>
                                <div class="technologies">
                                    <div class="tech">Java</div>
                                    <div class="tech">Android Studio</div>
                                    <div class="tech">SQLite</div>
                                </div>
                            </div>
                        </div>

                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/life.png" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://github.com/ajserrano9310/LifestyleApp"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-between-projects"></div>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/webarchitecture.jpg" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://github.com/ajserrano9310/CS4540taApp"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    TA Application
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    This application was my first exposure to building modern
                                    web applications and web software architecture in general.
                                    Similarly, I learned how to connect a web application with
                                    a database and some AWS concepts.
                                </p>
                                <p class="description">
                                    Nonetheless, the most interesting part of the project was
                                    using C# as a backend. Consequently, it gave me better
                                    understanding of the power of JavaScript.
                                </p>
                                <div class="technologies">
                                    <div class="tech">C#</div>
                                    <div class="tech">JavaScript</div>
                                    <div class="tech">HTML</div>
                                    <div class="tech">CSS</div>
                                    <div class="tech">Visual Studio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--project goes here-->
                <div class="padding-between-projects"></div>

                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    Humans: it's What's for Dinner
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    This game allowed me to learn the Unity game engine first
                                    hand and improve my C# skills. The project's architecture
                                    was probably the most challenging aspect. Given the nature
                                    of game development, it was fundamental for the team to
                                    write code that can be easily maintained and can be useful
                                    to the other team members.
                                </p>
                                <p class="description">
                                    During the project's duration I was in charge of gameplay,
                                    building the game's tutorial and dialogue system based on
                                    certain game events. Similarly, I helped build the two
                                    different endings.
                                </p>

                                <div class="technologies">
                                    <div class="tech">C#</div>
                                    <div class="tech">Unity</div>
                                </div>
                            </div>
                        </div>

                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/humans.jpg" />
                            </div>

                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://radicalcowstudios.itch.io/humans-its-whats-for-dinner"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-between-projects"></div>
                <div class="project">
                    <div class="image-description-wrapper">
                        <div class="image-and-links-wrapper">
                            <div class="project-image">
                                <img src="~/images/hookfall.png" />
                            </div>
                            <div class="hover-items">
                                <div class="source-icons">
                                    <a href="https://vincent-levy.itch.io/hook-fall"
                                       class="source-icon"
                                       target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="project-description-wrapper">
                            <div class="project-description">
                                <h4>
                                    Hookfall
                                    <i class="fa-solid fa-code"></i>
                                </h4>
                                <p class="description">
                                    One of the most challenging projects I've been a part of
                                    during my major. Given how big the Unreal Engine is, it
                                    was a very daunting experience to learn it. Nonetheless,
                                    it was very cool to have first hand experience with
                                    Blueprints, Unreal's visual scripting tool. Using
                                    Blueprints instead of C++ not only allowed me to get
                                    confortable with the engine, but it was a great
                                    introduction to game programming.
                                </p>
                                <p class="description">
                                    During the duration of the project I was part of the
                                    engineering team. My main goal was to create a stamina
                                    system for our character. The stamina would regenerate
                                    based on the speed of the character.
                                </p>
                                <div class="technologies">
                                    <div class="tech">Blueprints</div>
                                    <div class="tech">Unreal Engine 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            
            
            
            
            </div>
        </div>
    </div>
</div>

    
      