<h1 class="section-heading">
    Projects
</h1>

<div>
    <div class="project">
        <div class="image-description-wrapper">
            <div class="image-and-links-wrapper">
                <div class="project-image">
                    <img src="~/images/tiny-weather-app.jpg"/>
                </div>

                <div class="hover-items">
                    <div class="source-icons">
                        <a href="https://github.com/ajserrano9310/Weather-App"
                           class="source-icon"
                           target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-description-wrapper">
                <div class="project-description">
                    <h4>
                        Tiny Weather app
                        <i class="fa-solid fa-code"></i>
                    </h4>
                    <p class="description">
                        A small weather application that uses Open Weather API to
                        fetch weather from different cities. The most interesting
                        aspect of the application was making use of JavaScript to
                        fetch information from the Open Weather API, and learning
                        about JavaScript promises.
                    </p>
                    <div class="technologies">
                        <div class="tech">JavaScript</div>
                        <div class="tech">HTML</div>
                        <div class="tech">CSS</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>