.about-me-section{
    padding-top: 30px;
}

.about-me-contents {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.about-me-contents > .image-wrapper > .image-container> img {
    width: 450px;
    height: 450px;
    filter:grayscale(1);
    transition: 0.5s ease-in-out;
}

.about-me-contents > .image-wrapper > .image-container > img:hover{
    filter: none;
}
.about-me-socials{
    padding-top: 20px;
    display:flex;
    justify-content: center;
    gap: 25px;
}

.about-me-socials > .social > .social-icon > i{
    padding: 20px;
    font-size: 20px;
    transition: 250ms;
    text-decoration: none;
}

.about-me-socials > .social > .social-icon > i:hover{
    font-size: 25px;
    color: #66BFBF;
    cursor: pointer;
    /*color: #F87474;*/
}

.description {
    padding-right: 125px;
    margin-right: -60px; 
    
}

.padding-right{
    padding-right: 80px;
}

.description > .desc-right-border{
    border-right: 3px inset #F87474 ; 
}

.social > a{
    text-decoration: none;
    color:black;
}