
@media only screen and (max-width: 1200px){
    .about-me-contents {
        flex-direction: column;
        justify-content: center;
    }

    .about-me-contents > .image-wrapper > .image-container {
        text-align: center;
        
    }

    .about-me-socials{
        padding: right 20px;;
    }

    .container{
        padding-left: 0px;
    }
    
    .my-skills-wrapper{
        padding-right: 150px ;
        padding-left: -10px;

    }

    .skills-description{
        display:none;
    }
}

@media only screen and (max-width: 900px)
{

    .image-description-wrapper{
        flex-direction: column;
    }

    .image-and-links-wrapper{
        order:1; 
    }

    .project-description-wrapper{
        order: 2;
    }

}

@media only screen and (max-width: 600px){
    .company-metadata-sidebar-wrapper{
        display:none;
    }
    
    .nav{
        width: 100%;
    }
}