
.nav{
    display: flex;
    gap: 40px; 
    justify-content: center;
    padding: 25px;
    border-bottom: 2px solid black;
}

.nav > .link{
    padding: 5px;
    color: #66BFBF;
    border-bottom: 2px solid transparent;
    border: 2px solid #66BFBF;
    border-radius: 15px;
    transition: 0.5s;
}

.nav > .link:hover {
    border-bottom: 2px solid pink;
    cursor: pointer;
}

.nav > .link-even{
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.nav > .link-even:hover {
    border-bottom: 2px solid aqua;
    cursor: pointer;
}