.projects-section{
    padding-left: 27px;
}

.technologies{
    display: flex;
    gap: 20px;
}

.technologies > .tech {
    /*border: 2px solid #FF0063;*/
    padding: 5px;
    border-radius: 5px;
    color: #FF0063;
    font-size: 13px;
}


.project-description{
    border-right: 3px inset #F87474;
}

.padding-between-projects{
    padding-top: 75px;
    padding-bottom: 75px;
}

.project-image{
    filter: drop-shadow(0 0 0.75rem black);
}

.project-image > img{
    width:650px;
    height: 350px;
    border-radius: 15px;
}

.project{
    padding-right: 50px;
}

